.text-center mt-5 mb-5 {
    margin: 40px;
}

.card img {
    height: 385px;
    object-fit: cover;
    filter: brightness(0.9);
}

p {
    text-align: center;
    font-weight: bold;
}

h5 {
    text-align: center;
}