.footer-link {
    color: #ffc107;
    text-decoration: none;
    margin: 0px 10px;
    transition: color 0.3s ease;
    font-size: 26px;
}

.row {
    margin-bottom: 40px;
}

.footer-link:hover {
    color: #fff;
}

@media (max-width: 576px) {
    .footer-link {
        display: block;
        margin: 5px 0;
    }
}